
.example-radio-group {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  margin: 30px;
  font-size: 20px;
  border: 2px solid black;
  background-color: lightgreen;
}

.example-radio-button {
  margin: 15px;
}

.example-canvas {
  border:2px solid #000000;
}
