<div>
  <select class="example-radio-group" [(ngModel)]="currentTool">
    <option class="example-radio-button" *ngFor="let action of paintTools" [value]="action">
      {{action}}
    </option>
  </select>
</div>
<a id="save-as-image" class="example-button" (click)="saveCanvasAsImage()">Save as Image</a>
<!--div>Load: <input type="file" id="load"></div-->

<canvas id="test-canvas" class="example-canvas"
        (mousedown)="onMouseDown($event)"
        (touchstart)="onTouchStart($event)"
        (mousemove)="onMouseMove($event)"
        (touchmove)="onTouchMove($event)"
        (mouseup)="onMouseUp($event)"
        (touchend)="onTouchEnd($event)">
</canvas>
